@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div><img src='~/images/vapo-logo.png' alt="VAPO"></div>
        <div class=" text-center text-white">
        <h1>VA Platform One</h1>
    </div>
    <div class="text-center text-white">
        This is a .Net Core 8 sample application in the VAPO environment.
    </div>
</div>
